:local {
  .doctorsPage {
     :global {
      .am-carousel .slider-frame,
      .am-carousel .slider-frame .slider-list,
      .am-carousel .slider-frame .slider-list .slider-slide{
        height: 100%!important;
      }
      .bannerWrapper {
        display: inlin-block;
        width: 100%;
        overflow: hidden;
        .bannerImg {
          width: 100%;
        }
      }
      .am-list-item.borderBottom{
        padding-left: 15px;
        &:after,
        .am-list-ripple{
          display: block!important;
        }
      }
      .doctorContent {
        display: flex;
        align-items: center;
        font-size: 16px;
        img {
          display: inline-block;
          width: 75px;
          height: 75px;
          border-radius: 5px;
          margin-right: 20px;
        }
        .tagItem {
          display: inline-block;
          padding: 1px 6px;
          margin-left: 8px;
          color: #065C5A;
          font-size: 13px;
          border: 1px solid #065C5A;
          border-radius: 3px;
        }
        .am-list-brief {
          font-size: 12px;
        }
      }
      .doctorSelect{
        ul{
          border: none;
        }
        ul li{
          float: left;
          width: 33.33%;
          .am-navbar-title,
          .am-navbar-right{
            display: none;
          }
          .am-navbar-left{
          text-align: center;}
        }
      }
      .select .valueLabel{
        font-size: 15px;
      }
      .noDoctor{
        margin: 30px 0;
        color: #ddd;
        background-color: #f5f5f9;
        text-align: center;
        font-size: 18px;
      }
    .consulting{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 9999;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}


:global{
      .fixSearchBar{
            position: fixed;
            padding-top: -1px;
            top:0;
            left:0;
            z-index: 99999999999;
            width: 100%;
        }
        .fixSearchBar + .am-list{
          padding-top: 44px;
        }
}